body {
  background: #fff3e0 !important;
}

h1.title.type_heading-xxxlarge {
    font-weight: 400!important;
}
h4.zheditor-heading {
    font-weight: 400!important;
    font-size:18px;
}

.zh-page h1,
.zh-content h1,
.zh-article h1 {
  font-weight: 400 !important;
}
